@page
@model IndexModel
@{
    ViewData["Title"] = "Opinions";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p>This is my page. Lel. @ViewData["Timestamp"]</p>
</div>
