@page
@model NewPollModel
@{
    ViewData["Title"] = "NewPoll";
}

<script language="javascript" type="text/javascript">

    var allPreviousStates = {}

    function UpdateOnInputChoice(id) {

        if (!(id in allPreviousStates)) {
            allPreviousStates[id] = ""
        }
        
        var me = document.getElementById("choice" + id)

        if (allPreviousStates[id] == "" && me.value != "") {
            var nextEntry = document.createElement("input")
            nextEntry.type = "text"
            nextEntry.id = "choice" + (id + 1)
            nextEntry.oninput = "UpdateOnInputChoice(" + nextEntry.id + ")"
            document.getElementById("choices").appendChild(nextEntry)
        }
        else if (allPreviousStates[id] != "" && me.value == "") {
            // Delete it maybe
        }

        allPreviousStates[id] = me.value
    }     

</script>

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <form action="" id="choiceList">
        <div id="choices">
            <input type="text" id="choice0" oninput="UpdateOnInputChoice(0)" /><br />
        </div>
        <input type="submit" id="submitNewPoll" value="Create poll" /><br />
    </form>
</div>
